body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/******************************************header***************************************/

header {
  position: absolute;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-top: 40px;
  opacity: 0.7;
  z-index: 10;
  animation: fade-in 5s;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  justify-self: center;
  background-color: white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

header p {
  color: black;
  font-family: "Acme", sans-serif;
}

nav > * {
  text-decoration: none;
  color: black;
}

nav > *:hover {
  color: #771c25;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Acme", sans-serif;
  width: 35vw;
}

/******************************************sect1************************************/

#sect1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  background-image: url(./images/helmet.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contener2 {
  height: 100vh;
  width: 55%;
}

.contener1 {
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 45%;
  opacity: 0.2;
  filter: blur(5px);
}

.contenu1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 45%;
}

.divTitre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

.titre {
  color: white;
  font-size: 40px;
  margin-bottom: 0;
  font-family: "Lobster", cursive;
}

.sousTitre {
  color: white;
  font-size: 20px;
  font-family: "Lobster", cursive;
}

.divTitre p {
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: "Acme", sans-serif;
  width: 400px;
}

/*************************************************sect2***********************************************/

#sect2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url(./images/fond1.jpg);
  background-position: top;
  background-size: cover;
}

.notreSport {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  width: 90%;
  background-image: url(./images/fond2.jpg);
  background-position: center;
  background-size: cover;
}

.image {
  width: 600px;
  height: 90vh;
  background-image: url(./images/ballon.jpg);
  background-size: cover;
  filter:grayscale(80%);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  min-height: 90vh;
}

.flag,
.flag2,
.flag3 {
  color: white;
}

.flag {
  font-size: 50px;
  margin-bottom: 5px;
  margin-top: 85px;
  font-family: "Lobster", cursive;
}

.flag2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Lobster", cursive;
}

.flag3 {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 100px;
  width: 80%;
  font-family: "Acme", sans-serif;
}

.button {
  background-color: black;
  text-align: center;
  width: 200px;
  height: 50px;
  transition: 2s;
  border: white 3px solid;
}

.button a {
  text-decoration: none;
  color: white;
  font-family: "Acme", sans-serif;
  padding: 50px;
}

.button:hover {
  cursor: pointer;
  border: darkred solid 3px;
  font-style: italic;
  transition: 2s;
  width: 220px;
  height: 70px;
  transform-origin: right;
}
